@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Martel:wght@200;300;400;600;700;800;900&family=Rammetto+One&display=swap");

@layer base {
  h1,
  h2 {
    font-family: "Rammetto One", system-ui, sans-serif;
  }
  h3,
  h4 {
    font-family: "Martel", system-ui, sans-serif;
  }
  h5,
  h6 {
    font-family: "Figtree", system-ui, sans-serif;
  }
  p,
  li,
  a,
  button,
  input,
  textarea,
  select,
  span {
    font-family: "Figtree", system-ui, sans-serif;
    font-weight: 300;
  }
}
